img{
    border-radius: 5%;
    width: 200px;
    height: 200px;
    
}
section{
    border-radius: 7%;
    width: 400px;
    height: 400px;
    border:1px rgb(141, 67, 82) solid;
    margin: 42px;
    text-align: center;
    font-family: 'Red Rose', cursive;
}

#photo-template {
    visibility: hidden;
    display: none;
}
main{
    display: flex;
    flex-wrap: wrap;
}